.idea/*
.vscode/*
**/target
*.o
**/*.dot
**/*.png
**/*.smt
**/*.s
.DS_Store
.z3-trace
lion/*.bc
lion/*.btor2
lion/*.cnf
lion/*.data
lion/*.m
lion/data.csv
lion/klee-last
lion/klee-out-*

!src/guinea/icon.png