[package] 
name = "unicorn-rs"
description = "Unicorn is a compiler and runtime system for quantum computing"
authors = ["Michael Starzinger <michael.starzinger@antforge.org>", "Stefanie Muroya"]
repository = "https://github.com/cksystemsgroup/unicorn"
homepage = "https://cksystemsgroup.github.io/unicorn"
license = "MIT"
categories = ["command-line-utilities", "development-tools::testing", "science", "simulation"]
keywords = ["quantum-annealing", "quantum-computing", "bounded-model-checking", "symbolic-execution", "smt", "sat"]
edition = "2018"
version ="0.4.1"

[features]
default = []
z3 = ["z3-solver", "z3-sys"]
boolector = ["boolector-solver", "boolector-sys"]
true-rng = []

[lib]
name = "unicorn"
path = "src/lib.rs"

[[bin]]
name = "unicorn"
path = "src/main.rs"

[dependencies]
byteorder = "~1.4"
clap = { version = "~3.1", features = ["cargo"] }
strum = { version = "~0.24", features = ["derive"] }
riscu = "~0.5"
log = "~0.4"
env_logger = "~0.9"
bytesize = "~1.1"
anyhow = "~1.0"
thiserror = "~1.0"
const_format = "~0.2"
boolector-solver = { package = "boolector", version = "~0.4", features = ["vendor-lgl"], optional = true }
boolector-sys = { version = "~0", features = ["vendor-lgl"], optional = true }
z3-solver = { package = "z3", version = "~0.11", features = ["static-link-z3"], optional = true }
z3-sys = { version = "~0", features = ["static-link-z3"], optional = true }
pyo3 = { version = "~0.16", features = ["auto-initialize"] }

[dev-dependencies]
rayon = "~1.5"
tempfile = "~3.3"
which = "~4.2"
log = "~0.4"
env_logger = "~0.9"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]
