[package]
name = "unicorn-rs"
description = "Unicorn is a compiler and runtime system for quantum computing"
authors = ["Michael Starzinger <michael.starzinger@antforge.org>", "Stefanie Muroya"]
repository = "https://github.com/cksystemsgroup/unicorn"
homepage = "https://cksystemsgroup.github.io/unicorn"
license = "MIT"
categories = ["command-line-utilities", "development-tools::testing", "science", "simulation"]
keywords = ["quantum-annealing", "quantum-computing", "bounded-model-checking", "symbolic-execution", "smt", "sat"]
edition = "2018"
version = "0.4.1"

[features]
default = []
gui = ["egui", "eframe", "rfd", "image"]
z3 = ["z3-solver", "z3-sys"]
boolector = ["boolector-solver", "boolector-sys"]
kissat = ["kissat-rs"]
varisat = ["varisat-rs"]
true-rng = []

[lib]
name = "unicorn"
path = "src/lib.rs"

[[bin]]
name = "unicorn"
path = "src/main.rs"

[dependencies]
byteorder = "~1.4"
clap = { version = "~4.0", features = ["cargo"] }
strum = { version = "~0.24", features = ["derive"] }
riscu = "~0.5"
log = "~0.4"
regex = "~1.7"
env_logger = "~0.10"
bytesize = "~1.1"
anyhow = "~1.0"
thiserror = "~1.0"
pyo3 = { version = "~0.17", features = ["auto-initialize"] }
egui = { version = "0.20.0", optional = true }
eframe = { version = "0.20.0", optional = true }
rfd = { version = "0.10.0", optional = true }
image = { version = "0.24.5", optional = true }
egui_node_graph = { version = "0.3.0", optional = true }
boolector-solver = { package = "boolector", version = "~0.4", features = ["vendor-lgl"], optional = true }
boolector-sys = { version = "~0", features = ["vendor-lgl"], optional = true }
z3-solver = { package = "z3", version = "~0.11", features = ["static-link-z3"], optional = true }
z3-sys = { version = "~0", features = ["static-link-z3"], optional = true }
kissat-rs = { git = "https://github.com/firefighterduck/kissat-rs", branch = "main", version = "0.1", optional = true }
varisat-rs = { package = "varisat", version = "0.2.2", optional = true }

[patch.crates-io]
# TODO: Allows us to work on `riscu` and `unicorn` in parallel. Remove
# once `riscu` stabilizes and we made another crates.io release of it.
riscu = { git = 'https://github.com/cksystemsgroup/riscu' }

[dev-dependencies]
rayon = "~1.6"
tempfile = "~3.3"
which = "~4.3"
log = "~0.4"
env_logger = "~0.10"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]
